In [2]:
import pandas as pd

## DS3093 data retrieval

In [14]:
file_path = "ds3093_tx_2023_1108_185737/ds3093_tx_All_Data_5123_2022_1219_200023.txt"

In [23]:
df = pd.read_csv(file_path, sep='\t')

<ipython-input-23-3b579150a1dc>:1: DtypeWarning: Columns (12,13,14,45,46,47,48,49,50,51,52,80,81) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep='\t')

In [16]:
df.columns

Index(['Row', 'Sample Name', 'Transaction Id', 'Anon Student Id', 'Session Id',
       'Time', 'Time Zone', 'Duration (sec)', 'Student Response Type',
       'Student Response Subtype', 'Tutor Response Type',
       'Tutor Response Subtype', 'Level (Assignment)', 'Level (Package)',
       'Level (ProblemSet)', 'Level (Position)', 'Level (Assignment).1',
       'Level (ProblemSet).1', 'Problem Name', 'Problem View',
       'Problem Start Time', 'Step Name', 'Attempt At Step', 'Is Last Attempt',
       'Outcome', 'Selection', 'Selection.1', 'Selection.2', 'Action',
       'Action.1', 'Input', 'Feedback Text', 'Feedback Classification',
       'Help Level', 'Total Num Hints', 'Condition Name', 'Condition Type',
       'Condition Name.1', 'Condition Type.1', 'KC (Default)',
       'KC Category (Default)', 'KC (Default).1', 'KC Category (Default).1',
       'KC (Default).2', 'KC Category (Default).2', 'KC (Default).3',
       'KC Category (Default).3', 'KC (Default).4', 'KC Category (Default).4',
       'KC (Default).5', 'KC Category (Default).5', 'KC (Default).6',
       'KC Category (Default).6', 'KC (Item)', 'KC Category (Item)',
       'KC (Exper)', 'KC Category (Exper)', 'KC (Exper2)',
       'KC Category (Exper2)', 'KC (Exper-Sys)', 'KC Category (Exper-Sys)',
       'KC (Default-temp)', 'KC Category (Default-temp)',
       'KC (Default-temp-sys)', 'KC Category (Default-temp-sys)',
       'KC (Control-Sys)', 'KC Category (Control-Sys)', 'KC (Control)',
       'KC Category (Control)', 'KC (Exper2a)', 'KC Category (Exper2a)',
       'KC (Exper2b)', 'KC Category (Exper2b)', 'KC (Single-KC)',
       'KC Category (Single-KC)', 'KC (Unique-step)',
       'KC Category (Unique-step)', 'School', 'Class',
       'CF (Completion History)', 'CF (rules)', 'CF (step_id)',
       'CF (tool_event_time)', 'CF (tutor_event_time)', 'CF (tutor_input)',
       'Event Type'],
      dtype='object')

In [18]:
sub_df = df[df["Level (Assignment)"].str.contains("Pretest", na=False)]

In [24]:
sub_df = sub_df[sub_df["Level (ProblemSet)"].str.contains("Pretest", na=False)]

In [29]:
sub_df['CF (step_id)'].unique()

array([nan], dtype=object)

In [33]:
sub_df.columns

Index(['Row', 'Sample Name', 'Transaction Id', 'Anon Student Id', 'Session Id',
       'Time', 'Time Zone', 'Duration (sec)', 'Student Response Type',
       'Student Response Subtype', 'Tutor Response Type',
       'Tutor Response Subtype', 'Level (Assignment)', 'Level (Package)',
       'Level (ProblemSet)', 'Level (Position)', 'Level (Assignment).1',
       'Level (ProblemSet).1', 'Problem Name', 'Problem View',
       'Problem Start Time', 'Step Name', 'Attempt At Step', 'Is Last Attempt',
       'Outcome', 'Selection', 'Selection.1', 'Selection.2', 'Action',
       'Action.1', 'Input', 'Feedback Text', 'Feedback Classification',
       'Help Level', 'Total Num Hints', 'Condition Name', 'Condition Type',
       'Condition Name.1', 'Condition Type.1', 'KC (Default)',
       'KC Category (Default)', 'KC (Default).1', 'KC Category (Default).1',
       'KC (Default).2', 'KC Category (Default).2', 'KC (Default).3',
       'KC Category (Default).3', 'KC (Default).4', 'KC Category (Default).4',
       'KC (Default).5', 'KC Category (Default).5', 'KC (Default).6',
       'KC Category (Default).6', 'KC (Item)', 'KC Category (Item)',
       'KC (Exper)', 'KC Category (Exper)', 'KC (Exper2)',
       'KC Category (Exper2)', 'KC (Exper-Sys)', 'KC Category (Exper-Sys)',
       'KC (Default-temp)', 'KC Category (Default-temp)',
       'KC (Default-temp-sys)', 'KC Category (Default-temp-sys)',
       'KC (Control-Sys)', 'KC Category (Control-Sys)', 'KC (Control)',
       'KC Category (Control)', 'KC (Exper2a)', 'KC Category (Exper2a)',
       'KC (Exper2b)', 'KC Category (Exper2b)', 'KC (Single-KC)',
       'KC Category (Single-KC)', 'KC (Unique-step)',
       'KC Category (Unique-step)', 'School', 'Class',
       'CF (Completion History)', 'CF (rules)', 'CF (step_id)',
       'CF (tool_event_time)', 'CF (tutor_event_time)', 'CF (tutor_input)',
       'Event Type'],
      dtype='object')

In [36]:
sub_df["unique_step"] = sub_df['Level (Assignment)'] + sub_df['Level (Package)'] + sub_df['Level (ProblemSet)'].astype(str) + sub_df['Level (Position)'].astype(str) + sub_df['Level (Assignment).1'].astype(str) + sub_df['Level (ProblemSet).1'].astype(str) + sub_df['Problem Name'].astype(str)

In [37]:
sub_df["unique_step"]

159470    [A1-C1234] Demo+Questionnaire+PretestGates 6.0...
159471    [A1-C1234] Demo+Questionnaire+PretestGates 6.0...
159472    [A1-C1234] Demo+Questionnaire+PretestGates 6.0...
159473    [A1-C1234] Demo+Questionnaire+PretestGates 6.0...
159474    [A1-C1234] Demo+Questionnaire+PretestGates 6.0...
159475    [A1-C1234] Demo+Questionnaire+PretestGates 6.0...
Name: unique_step, dtype: object

In [32]:
sub_df["unique_step"] = sub_df.apply(lambda x: x['Level (Assignment)'] + x['Level (Package)'] + x['Level (ProblemSet)'] + x['Level (Position)'] + x['Level (Assignment).1'] + x['Level (ProblemSet).1'] + x['Problem Name'])

KeyError: 'Level (Assignment)'

In [182]:
df["Level (Assignment).1"].unique()

array(['[A1-C5678] Demo+Questionnaire+Pretest',
       '[A3W1-C1357] Thinking About Math', '[A2-C3478] Practice',
       '[A3W2-C1357] Thinking About Math',
       '[A3W3-C1357] Thinking About Math',
       '[A3W4-C1357] Thinking About Math', '[A4-C12345678] Questionnaire',
       '[A5-C5678] Posttest', '[A6-C12345678] Extra Practice',
       '[A2-C1256] Practice', '[A1-C1234] Demo+Questionnaire+Pretest',
       '[A3W1-C2468] Thinking About Math',
       '[A3W2-C2468] Thinking About Math',
       '[A3W3-C2468] Thinking About Math',
       '[A3W4-C2468] Thinking About Math', '[A5-C1234] Posttest',
       '[A7-C12345678] Systems of Equations',
       '[A3W1-C2468-Sk] Thinking About Math',
       '[A1-C5678-Abs] Demo+Questionnaire+Pretest',
       '[A1-C1234-Abs] Demo+Questionnaire+Pretest',
       'Demo for City Charter School',
       '[A3W2-C2468-Sk] Thinking About Math',
       '[A3W2-C1357-Sk] Thinking About Math', 'Default Assignment',
       '[A3W1-C1357-Sk] Thinking About Math',
       "[A7-C12345678] Systems of Equations (Testing, don't activate)",
       nan], dtype=object)

In [183]:
df["Step Name"].unique()

array([nan, 'done ButtonPressed',
       'Q1-radio-button-group UpdateRadioButton',
       'Q2-radio-button-group UpdateRadioButton',
       'Q3-radio-button-group UpdateRadioButton',
       'Q4-radio-button-group UpdateRadioButton',
       'Q6-radio-button-group UpdateRadioButton',
       'Q5-radio-button-group UpdateRadioButton',
       'firstleft UpdateTextField', 'firstmid UpdateTextField',
       'firstright UpdateTextField', 'secondleft UpdateTextField',
       'secondmid UpdateTextField', 'secondright UpdateTextField',
       'thirdleft UpdateTextField', 'thirdright UpdateTextField',
       'enter-formula-input UpdateTextField',
       'fourthleft UpdateTextField', 'fourthmid UpdateTextField',
       'fourthright UpdateTextField', 'fifthmid UpdateTextField',
       'fifthleft UpdateTextField', 'fifthright UpdateTextField',
       'exp1 UpdateTextField', 'exp2 UpdateTextField',
       'exp3 UpdateTextField', 'def4 UpdateComboBox',
       'exp5 UpdateTextField', 'exp6 UpdateTextField',
       'def1 UpdateComboBox', 'def2 UpdateComboBox',
       'def3 UpdateComboBox', 'def5 UpdateComboBox',
       'def6 UpdateComboBox', 'exp4 UpdateTextField',
       'exp7 UpdateTextField', 'def7 UpdateComboBox',
       'radio-button-group UpdateRadioButton', 'restate SetVisible',
       'chosen-speaker UpdateTextField', 'que-1 SetVisible',
       'que-1-input SetVisible', 'submit-que-1 SetVisible',
       'chosen-speaker-quote UpdateTextField', 'que-2 SetVisible',
       'que-2-input SetVisible', 'submit-que-2 SetVisible',
       'que-1-input UpdateTextArea', 'done SetVisible',
       'que-2-input UpdateTextArea', 'cal-y-giv-x-input SetVisible',
       'enter-formula-input lock', 'IS-intro-text SetVisible',
       'cal-y-giv-x-text SetVisible', 'enter-formula-input setIncorrect',
       'cal-y-giv-x-input UpdateTextField',
       'IS-flex-step-2-input SetVisible',
       'IS-flex-step-2-text SetVisible',
       'IS-flex-step-2-text UpdateTextField',
       'IS-flex-step-2-input UpdateTextField', 'exp2 SetVisible',
       'break_down_text SetVisible', 'exp1 setIncorrect', 'exp1 lock',
       'def2 SetVisible', 'def3 SetVisible', 'exp3 SetVisible',
       'revisit_text SetVisible', 'exp4 SetVisible', 'def4 SetVisible',
       'CS-step-1-text SetVisible', 'CS-step-1-input SetVisible',
       'CS-intro-text SetVisible', 'CS-step-2-input SetVisible',
       'CS-step-2-text SetVisible', 'CS-step-1-input UpdateTextField',
       'CS-step-2-input UpdateTextField', 'CS-step-3-text SetVisible',
       'CS-step-3-input SetVisible', 'CS-step-3-input UpdateTextField',
       'main-input UpdateTextField', 'main-input setIncorrect',
       'main-input lock', 'scaffold-text SetVisible',
       'radio-button-1 SetVisible', 'radio-button-2-text SetVisible',
       'radio-button-2 SetVisible', 'radio-button-1-text SetVisible',
       'radio-button-3 SetVisible', 'radio-button-3-text SetVisible',
       'radioButtonGroup UpdateRadioButton', 'revisit-text SetVisible',
       'revisit-input SetVisible', 'revisit-input UpdateTextField',
       'def1 setIncorrect', 'def1 lock', 'solveLeft1 UpdateTextField',
       'solveRight1 UpdateTextField', 'solveLeft2 UpdateTextField',
       'solveRight2 UpdateTextField', 'thirdmid UpdateTextField',
       'undefined undefined', 'part1 addClass',
       'enter-formula-revisit-input SetVisible',
       'enter-formula-revisit-text SetVisible',
       'enter-formula-revisit-input UpdateTextField',
       'first1 UpdateTextField', 'first2 UpdateTextField',
       'first3 UpdateTextField', 'first4 UpdateTextField',
       'first5 UpdateTextField', 'first6 UpdateTextField',
       'second1 UpdateTextField', 'second2 UpdateTextField',
       'second3 UpdateTextField', 'second4 UpdateTextField',
       'second5 UpdateTextField', 'second6 UpdateTextField',
       'eq-statement SetVisible', 'eq1-text SetVisible', 'eq1 SetVisible',
       'eq2-text SetVisible', 'eq2 SetVisible', 'eq1 UpdateTextField',
       'eq2 UpdateTextField', 'third1 UpdateTextField',
       'third2 UpdateTextField', 'third3 UpdateTextField',
       'third4 UpdateTextField', 'third5 UpdateTextField',
       'solveLeft3 UpdateTextField', 'solveRight3 UpdateTextField',
       'solveLeft4 UpdateTextField', 'solveRight4 UpdateTextField',
       'solveLeft5 UpdateTextField', 'solveRight5 UpdateTextField',
       'solveLeft6 UpdateTextField', 'solveRight6 UpdateTextField'],
      dtype=object)

In [185]:
df = df.sort_values(by='Time').drop_duplicates(subset=['Anon Student Id', 'Step Name'], keep='first')

In [186]:
# get posttest
sub_df = df[df["Level (Assignment).1"].str.contains("Posttest", na=False)]

In [187]:
sub_df["Outcome"].unique()

array(['CORRECT', 'INCORRECT', 'HINT'], dtype=object)

In [188]:
# sub_df = sub_df.drop_duplicates(subset=['Anon Student Id', 'Step Name'], keep='first')

In [189]:
post_test_result = sub_df.groupby('Anon Student Id')['Outcome'].apply(lambda x: (x == 'CORRECT').sum() / len(x)).reset_index()

In [190]:
post_test_result

                         Anon Student Id   Outcome
0   Stu_0579afc78056a2adba2b37cf5e722ee2  0.000000
1   Stu_0579ea4e9dd6bcf83463cd55a419fd79  0.000000
2   Stu_05bdce2051525a38318a7eb7f95eec84  0.500000
3   Stu_10bc8ace2a69440f72b94a5eada1bdf2  1.000000
4   Stu_10dd499fee6bd8bb2c1eea42a810318f  0.600000
..                                   ...       ...
81  Stu_f317a79acbeb084178eaf1810689d6d3  0.777778
82  Stu_f438209db71f8e0e973ae55e8ac8c1a8  0.000000
83  Stu_f4c4d572b372aa1c8eed90dfa880f355  0.333333
84  Stu_fc36b2d283cdc551beba115eb0c9bae7  0.500000
85  Stu_fd400821d994bb1d167a4e9010231035  0.000000

[86 rows x 2 columns]

In [191]:
sub_df2 = df[df["Level (Assignment).1"].str.contains("Pretest", na=False)]

In [192]:
sub_df2["Outcome"].unique()

array([nan, 'CORRECT', 'HINT', 'INCORRECT'], dtype=object)

In [193]:
# sub_df2 = sub_df2.drop_duplicates(subset=['Anon Student Id', 'Step Name'], keep='first')

In [194]:
sub_df2[["Anon Student Id", "Outcome", "Level (Assignment).1"]]

,Anon Student Id,Outcome,Level (Assignment).1
143170,Stu_cf36f9f51f8834972297e21c29d10cec,NaN,[A1-C1234] Demo+Questionnaire+Pretest
143177,Stu_cf36f9f51f8834972297e21c29d10cec,CORRECT,[A1-C1234] Demo+Questionnaire+Pretest
143178,Stu_cf36f9f51f8834972297e21c29d10cec,CORRECT,[A1-C1234] Demo+Questionnaire+Pretest
143179,Stu_cf36f9f51f8834972297e21c29d10cec,CORRECT,[A1-C1234] Demo+Questionnaire+Pretest
143180,Stu_cf36f9f51f8834972297e21c29d10cec,CORRECT,[A1-C1234] Demo+Questionnaire+Pretest
...,...,...,...
81887,Stu_73d60636e05d53f687a02389a9635dbc,CORRECT,[A1-C5678-Abs] Demo+Questionnaire+Pretest
81888,Stu_73d60636e05d53f687a02389a9635dbc,CORRECT,[A1-C5678-Abs] Demo+Questionnaire+Pretest
81889,Stu_73d60636e05d53f687a02389a9635dbc,CORRECT,[A1-C5678-Abs] Demo+Questionnaire+Pretest
81890,Stu_73d60636e05d53f687a02389a9635dbc,CORRECT,[A1-C5678-Abs] Demo+Questionnaire+Pretest
81891,Stu_73d60636e05d53f687a02389a9635dbc,CORRECT,[A1-C5678-Abs] Demo+Questionnaire+Pretest

In [195]:
pre_test_result = sub_df2.groupby('Anon Student Id')['Outcome'].apply(lambda x: (x == 'CORRECT').sum() / len(x)).reset_index()

In [196]:
pre_test_result

                          Anon Student Id   Outcome
0    Stu_00e7976d1e35e69629ea814e7663ae6b  0.648649
1    Stu_016763f61bc56c87add9b52b1e50a0d4  0.733333
2    Stu_02ed92b332024cc68a4c042697b1c57c  0.722222
3    Stu_04470351a151934525136e49188c55d4  0.826087
4    Stu_0579afc78056a2adba2b37cf5e722ee2  0.694444
..                                    ...       ...
151  Stu_fc36b2d283cdc551beba115eb0c9bae7  0.823529
152  Stu_fc60f8d23154679b4f7e60f35035ae04  0.648649
153  Stu_fcaa586c33e9b39901a2b9756e58d901  0.000000
154  Stu_fdbe5f13737914ee900c29aed87ec779  0.648649
155  Stu_ff396a25991104bcc3682e94e59d7b45  0.761905

[156 rows x 2 columns]

In [197]:
pre_test_result.columns = ['anon_student_id', 'Pretest']
post_test_result.columns = ['anon_student_id', 'Posttest']

In [198]:
merged_df = pd.merge(pre_test_result, post_test_result, on='anon_student_id')

In [199]:
merged_df

                         anon_student_id   Pretest  Posttest
0   Stu_0579afc78056a2adba2b37cf5e722ee2  0.694444  0.000000
1   Stu_0579ea4e9dd6bcf83463cd55a419fd79  0.361111  0.000000
2   Stu_05bdce2051525a38318a7eb7f95eec84  0.612903  0.500000
3   Stu_10bc8ace2a69440f72b94a5eada1bdf2  0.852941  1.000000
4   Stu_10dd499fee6bd8bb2c1eea42a810318f  0.565217  0.600000
..                                   ...       ...       ...
72  Stu_efb2f2b07386eb08bcb8f6c582b33bdb  0.647059  1.000000
73  Stu_f162a6c09609a9130b44f4b4ad3a1be0  0.588235  0.250000
74  Stu_f317a79acbeb084178eaf1810689d6d3  0.800000  0.777778
75  Stu_f438209db71f8e0e973ae55e8ac8c1a8  0.444444  0.000000
76  Stu_fc36b2d283cdc551beba115eb0c9bae7  0.823529  0.500000

[77 rows x 3 columns]

In [28]:
merged_df.to_csv("test_scores_3093.csv")

## 3151

In [29]:
file_path = "ds3151_tx_2023_1108_192603/ds3151_tx_All_Data_5189_2020_0106_100459.txt"

In [30]:
df = pd.read_csv(file_path, sep='\t')

<ipython-input-30-3b579150a1dc>:1: DtypeWarning: Columns (7,45,46,47,48,49,50,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep='\t')

In [31]:
df.columns

Index(['Row', 'Sample Name', 'Transaction Id', 'Anon Student Id', 'Session Id',
       'Time', 'Time Zone', 'Duration (sec)', 'Student Response Type',
       'Student Response Subtype', 'Tutor Response Type',
       'Tutor Response Subtype', 'Level (Assignment)', 'Level (ProblemSet)',
       'Problem Name', 'Problem View', 'Problem Start Time', 'Step Name',
       'Attempt At Step', 'Is Last Attempt', 'Outcome', 'Selection',
       'Selection.1', 'Selection.2', 'Action', 'Action.1', 'Input',
       'Feedback Text', 'Feedback Classification', 'Help Level',
       'Total Num Hints', 'Condition Name', 'Condition Type',
       'Condition Name.1', 'Condition Type.1', 'KC (Default)',
       'KC Category (Default)', 'KC (Default).1', 'KC Category (Default).1',
       'KC (Default).2', 'KC Category (Default).2', 'KC (Default).3',
       'KC Category (Default).3', 'KC (Default).4', 'KC Category (Default).4',
       'KC (Default).5', 'KC Category (Default).5', 'KC (Default).6',
       'KC Category (Default).6', 'KC (Default).7', 'KC Category (Default).7',
       'KC (Single-KC)', 'KC Category (Single-KC)', 'KC (Unique-step)',
       'KC Category (Unique-step)', 'School', 'Class',
       'CF (Completion History)', 'CF (rules)', 'CF (step_id)',
       'CF (tool_event_time)', 'CF (tutor_event_time)', 'CF (tutor_input)',
       'Event Type'],
      dtype='object')

In [32]:
df["Level (Assignment)"].unique()

array(['[A1-C1234] Demo+Questionnaire+Pretest', '[A2-C3478] Practice',
       '[A3W1-C2468] Thinking About Math',
       '[A3W2-C2468] Thinking About Math',
       '[A3W3-C2468] Thinking About Math',
       '[A3W4-C2468] Thinking About Math', '[A4-C12345678] Questionnaire',
       '[A5-C1234] Posttest', '[A1-C5678] Demo+Questionnaire+Pretest',
       '[A5-C5678] Posttest', '[A2-C1256] Practice',
       '[A6-C12345678] Extra Practice',
       '[A3W1-C1357] Thinking About Math',
       '[A3W2-C1357] Thinking About Math',
       '[A3W3-C1357] Thinking About Math',
       '[A3W4-C1357] Thinking About Math',
       '[A1-C5678-Abs] Demo+Questionnaire+Pretest', 'Default Assignment',
       'Test'], dtype=object)

In [33]:
df_pre = df[df["Level (Assignment)"].str.contains("Pretest", na=False)]

df_pre = df_pre.dropna(subset=['Outcome'])

pre_test_result = df_pre.groupby('Anon Student Id')['Outcome'].apply(lambda x: (x == 'CORRECT').sum() / len(x) * 100).reset_index()

pre_test_result.columns = ['Anon Student Id', 'Pretest']

In [34]:
df_post = df[df["Level (Assignment)"].str.contains("Posttest", na=False)]

df_post = df_post.dropna(subset=['Outcome'])

post_test_result = df_post.groupby('Anon Student Id')['Outcome'].apply(lambda x: (x == 'CORRECT').sum() / len(x) * 100).reset_index()

post_test_result.columns = ['Anon Student Id', 'Posttest']

In [35]:
merged_df = pd.merge(pre_test_result, post_test_result, on='Anon Student Id')

In [36]:
merged_df.to_csv("test_scores_3151.csv")

## Load 5165 results and compare

In [214]:
ds5165 = pd.read_csv("ds5165_test_score_anon_student_id.txt", sep="\t")

In [215]:
ds5165

                          anon_student_id  Pretest  Posttest
0    Stu_0579ea4e9dd6bcf83463cd55a419fd79     0.13      0.37
1    Stu_8396fc5b4e985a61e5edada53783bd74     0.17      0.35
2    Stu_7068bc5930de9be55834a22844c0f110     0.41      0.61
3    Stu_b066e1f9c7d556ff07e8069d761d360a     0.39      0.44
4    Stu_c58ea5e445cad659c2f0ffbc73aef09d     0.62      0.63
..                                    ...      ...       ...
124  Stu_57f1d9d289b4025ca4a219ed52cc5dc1     0.20      0.18
125  Stu_d7c0b5e120f7ab3126523953593f9e2b     0.51      0.30
126  Stu_130760ea9f6850f627a910c9839cde05     0.37      0.65
127  Stu_065c3c6616e42d1fddfbb9547974ba8c     0.53      0.30
128  Stu_fbbc645149e3513e98bce624a1922fd0     0.00      0.18

[129 rows x 3 columns]

In [216]:
merged_df.columns = ["anon_student_id", "Pretest", "Posttest"]
compare_df = pd.merge(ds5165, merged_df, on='anon_student_id', suffixes=('_ds5165', '_other'))

In [217]:
compare_df

,anon_student_id,Pretest_ds5165,Posttest_ds5165,Pretest_other,Posttest_other
0,Stu_0579ea4e9dd6bcf83463cd55a419fd79,0.13,0.37,0.426230,0.611111
1,Stu_8396fc5b4e985a61e5edada53783bd74,0.17,0.35,0.583333,0.512821
2,Stu_7068bc5930de9be55834a22844c0f110,0.41,0.61,0.623188,0.756410
3,Stu_b066e1f9c7d556ff07e8069d761d360a,0.39,0.44,0.681159,0.641026
4,Stu_c58ea5e445cad659c2f0ffbc73aef09d,0.62,0.63,0.811594,0.807692
...,...,...,...,...,...
80,Stu_efb2f2b07386eb08bcb8f6c582b33bdb,0.33,0.50,0.660377,0.576923
81,Stu_50eea8da3837390995f473fad867b5d6,0.07,0.03,0.327869,0.240964
82,Stu_564469ab9f4c11ddebba12ad57dfa4f5,0.13,0.11,0.405797,0.229885
83,Stu_e69ed5f39e495f1d998a646d4e0f6ce2,0.37,0.78,0.794872,0.794872
84,Stu_b5ad806831258b809cd0bcd4a456de5d,0.22,0.56,0.536232,0.692308

## Load stu-step 3093

In [13]:
stu_3093 = pd.read_csv("ds3093_student_step_2023_1116_143747/ds3093_student_step_All_Data_5123_2022_1219_212523.txt", sep="\t")

In [7]:
stu_3093["First Attempt"].unique()

array(['correct', 'incorrect', 'hint'], dtype=object)

In [8]:
stu_3093["Problem Hierarchy"]

0        Assignment [A1-C5678] Demo+Questionnaire+Prete...
1        Assignment [A1-C5678] Demo+Questionnaire+Prete...
2        Assignment [A1-C5678] Demo+Questionnaire+Prete...
3        Assignment [A1-C5678] Demo+Questionnaire+Prete...
4        Assignment [A1-C5678] Demo+Questionnaire+Prete...
                               ...
96390    Assignment [A2-C1256] Practice, ProblemSet CT:...
96391    Assignment [A2-C1256] Practice, ProblemSet CT:...
96392    Assignment [A2-C1256] Practice, ProblemSet CT:...
96393    Assignment [A2-C1256] Practice, ProblemSet CT:...
96394    Assignment [A2-C1256] Practice, ProblemSet CT:...
Name: Problem Hierarchy, Length: 96395, dtype: object

In [225]:
pre_3093 = stu_3093[stu_3093["Problem Hierarchy"].str.contains("Pretest", na=False)]

pre_test_result = pre_3093.groupby('Anon Student Id')['First Attempt'].apply(lambda x: (x == 'correct').sum() / len(x)).reset_index()

pre_test_result.columns = ['anon_student_id', 'Pretest']

In [226]:
post_3093 = stu_3093[stu_3093["Problem Hierarchy"].str.contains("Posttest", na=False)]

post_test_result = post_3093.groupby('Anon Student Id')['First Attempt'].apply(lambda x: (x == 'correct').sum() / len(x)).reset_index()

post_test_result.columns = ['anon_student_id', 'Posttest']

In [227]:
merged_df = pd.merge(pre_test_result, post_test_result, on='anon_student_id')

In [236]:
merged_df

                          anon_student_id   Pretest  Posttest
0    Stu_00e7976d1e35e69629ea814e7663ae6b  0.666667  0.730769
1    Stu_02ed92b332024cc68a4c042697b1c57c  0.737705  0.769231
2    Stu_0579afc78056a2adba2b37cf5e722ee2  0.770492  0.320513
3    Stu_0579ea4e9dd6bcf83463cd55a419fd79  0.426230  0.611111
4    Stu_05bdce2051525a38318a7eb7f95eec84  0.687500  0.615385
..                                    ...       ...       ...
130  Stu_f82637cce1b998ecb55242e37073df40  0.768116  0.794872
131  Stu_f9e0865d46ddc2914dbd187c537dcacf  0.623188  0.435897
132  Stu_fc36b2d283cdc551beba115eb0c9bae7  0.836364  0.564103
133  Stu_fc60f8d23154679b4f7e60f35035ae04  0.637681  0.679487
134  Stu_fdbe5f13737914ee900c29aed87ec779  0.681159  0.794872

[135 rows x 3 columns]

In [235]:
pre_3093[pre_3093["Anon Student Id"]=="Stu_0579ea4e9dd6bcf83463cd55a419fd79"][["Problem Hierarchy", "Problem Name"]].value_counts()

Problem Hierarchy                                                           Problem Name
Assignment [A1-C5678] Demo+Questionnaire+Pretest, ProblemSet Pretest (B)    prepost-B-2op-table-book             15
                                                                            prepost-B-1op-table-skycraper         9
                                                                            prepost-B-W8-27show                   8
                                                                            prepost-B-E7-11account                7
                                                                            prepost-B-W7-30bracelet               7
Assignment [A1-C5678] Demo+Questionnaire+Pretest, ProblemSet Questionnaire  questionnaire                         7
Assignment [A1-C5678] Demo+Questionnaire+Pretest, ProblemSet Pretest (B)    prepost-B-1op-ntab-painting           2
                                                                            prepost-B-2op-npar-ntab-taco          2
                                                                            prepost-B-2op-par-ntab-invitation     2
                                                                            pretest-intro                         1
Assignment [A1-C5678] Demo+Questionnaire+Pretest, ProblemSet demo           demo-video                            1
dtype: int64

In [229]:
26/(26+24+11)

0.4262295081967213